.sidebar
  =render partial: "/layouts/modules/side-bar"
- if @group
  .messages
    .messages__group
      .messages__group__left
        %h2
          = @group.name
        - @group.users.each do |user|
          %p
            = user.name
      .messages__group__right
        %a.edit{href: "edit"} Edit

    .messages__chat
      = render partial: "/layouts/modules/chat"
    .messages__writing
      = render partial: "/layouts/modules/edit"
