
.notification
  = render :partial => "/layouts/modules/notification"
.sidebar
  =render :partial => "/layouts/modules/side-bar"
.messages
  .messages__group
    =render :partial => "/layouts/modules/group"
  .messages__chat
    = render :partial => "/layouts/modules/chat"
  .messages__writing
    = render :partial => "/layouts/modules/edit"
