.head
  .group
    %h3.group__name
      = current_user.name
    %ul.group__icon
      %li.group__icon__edit
        %a{href: ""}
          %i.fa.fa-edit
      %li.group__icon__cog
        = link_to edit_user_path(current_user), method: :get do
          %i.fa.fa-cog
.body
  %ul.lists
    %li.name 犬好き
    %li.say 私、実は猫の方が好きなの
  %ul.lists
    %li.name 猫好き
    %li.say ごめん、本当は犬の方が好きなんだ
