%ul_.messages__chat__user
  %li.messages__chat__user__name aaa
  %li.messages__chat__user__time 2017/01/01
%p aaa
%ul_.messages__chat__user
  %li.messages__chat__user__name 猫好　花子
  %li.messages__chat__user__time 2017/01/01 13:24
%p 私、実は猫の方が好きなの
